.controllers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 2px dashed gray;
    padding: 20px;
}

.addBtn {
    background-color: darkseagreen;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px -1px 0 0;
    opacity: 1;
    transition: 0.3s;
}

.addBtn:active {
    box-shadow: 1px 0 0 0;
}

.addBtn:disabled {
    opacity: 0.5;
    border-color: gray;
    pointer-events: none;
}
