.homeContainer {
    display: flex;
    flex-direction: column;
}

.link {
    padding: 5px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-bottom: 4px solid white;
}

.link:hover {
    border-color: blueviolet;
}